<p>gestion-resa works!</p>


<!-- Button modal add resa -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addResa">
  Ajout réservation
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Civilité  </th>
            <th>Nom</th>
            <th> Prénom </th>
            <th>Nombre de personne </th>
            <th>Date d'arrivée  </th>
            <th>Nombre de jour(s) prévu  </th>
            <th>TotalSej </th>
            <th>Supprimer résa  </th>
            <th>Réservé/Annulé </th>
            <th>Modifier info </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservations;" [ngClass]="{'table-success' : r.confirme, 'table-danger': !r.confirme}">
            <td>Civilité : {{r.sex}} </td>
            <td>Nom : {{r.nom}}</td>
            <td> Prénom : {{r.prenom}}</td>
            <td>Nombre de personne : {{r.nombreDepers}}</td>
            <td>Date d'arrivée : {{r.dateArrive}} </td>
            <td>Nombre de jour(s) prévu : {{r.nbJour}} </td>
            <td>TotalSej : {{r.totalSej}} </td>

            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteResa(r.id)" > Supprimer la reservation</button> </td>         
            
            <td><button type="button" class="btn btn-primary"  (click)="changeStatus(r)" > 
              <strong *ngIf="r.confirme"> Réservé</strong>
              <strong *ngIf="!r.confirme"  class="bg-warning"> Annulé</strong>
            </button> </td>   
            
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"  > Modifier la reservation</button> </td> 
      
          </tr>
    </tbody>
</table>





<!-- Modal ADDuser-->
<div class="modal fade" id="addResa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="addInfUser(userForm)" #userForm="ngForm">
          <div class="mb-5" name="sex" class="col-md-4">
            <label for="inputState" class="form-label">Civilité</label>
            <select class="mb-5"name="sex"  class="form-select" ngModel required >

                <option>monsieur</option>
                <option>madame</option>

            </select>
        </div>

          <div class="col-11  mb-3">
            <label for="nom">Nom</label>
            <input class="text-uppercase" type="text" name="nom" placeholder="nom" ngModel required>
          </div>

          <div class="col-11 mb-3">
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" placeholder="prenom" ngModel required>
          </div>
          
          <div class="col-11 mb-3">
            <label for="nombreDepers">nombre De pers </label>
            <input type="number" name="nombreDepers" placeholder="nombreDepers" ngModel required>
          </div>

          <div class="col-11 mb-3">
            <label for="dateArrive">Date d'Arrive </label>
            <input type="date" name="dateArrive" placeholder="dateArrive" ngModel required>
          </div>

          <div class="col-11 mb-3">
            <label for="nbJour">Nombre de jour </label>
            <input type="number" name="nbJour" placeholder="nbJour" ngModel required>
          </div>

          <div class="div">
          <!-- select nomDeChambre-->
          <select ngModel name="nomDeChambre" class="form-select" aria-label="Default select example">
            <option selected>nomDeChambre</option>
            <option *ngFor="let c of chambresAdmin"  name="nomDeChambre"> {{c.nomDeChambre}}</option>
            
          </select>
          <!-- finselect -->
          </div>

          <div class="div">
            <!-- select ville-->
            <select ngModel name="prix" class="form-select" aria-label="Default select example">
              <option selected>Prix</option>
              <option *ngFor="let c of chambresAdmin" name="prix" > {{+c.prix}}</option>
            </select>
            <!-- finselect -->
            </div>

          <button type="submit">Valider</button>
          </form>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal UPDATE -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- fin modal -->

  
