

<div class="d-flex justify-content-center">
    <h3 class="me-2 pt-2">Welcome to </h3>
    <h1>ResaRoom PRESTIGE</h1>

</div>

<div class="mb-5 d-flex justify-content-center container contenTextCentral">

    <div class="px-5 w-50 mb-5 textCentral ">
        <p> <strong>ResaRoom PRESTIGE</strong> est la première solution de réservation de chambres d’hôtels pour
            quelques heures en journée.

            Créé par David Lebée, à l'âge de 29 ans, avec l’aide de deux proches, Eugénie Lebée et Thibaud D’Agrèves,
            Dayuse.com voit le jour en 2010. Alors Directeur d’établissement au sein de grands groupes hôteliers à
            Paris, David Lebée était régulièrement confronté à une clientèle qui souhaitait réserver une chambre d’hôtel
            pour quelques heures en journée mais ne trouvait pas d’offre adaptée. Dayuse.com est né pour répondre
            précisément à ce besoin.</p>
    </div>
</div>


<div class="card mt-5 mb-5 container " style="max-width: 940px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/img/téléchargement.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Vanguard</h5>
                <p class="card-text">En permettant l’accès aux services hôteliers en journée par le plus grand nombre,
                    Dayuse.com transforme les modes de consommation d’une clientèle grand public de plus en plus mobile,
                    connectée et exigeante : travailler au calme dans un bureau ponctuel, transformer son escale en
                    moment de plaisir ou s’offrir une journée “daycation” pour profiter d’un hôtel haut de gamme à un
                    prix accessible (chambre deluxe, room service, Spa...).

                    En optimisant l’offre hôtelière traditionnelle, Dayuse.com séduit de plus en plus d’acteurs majeurs
                    ou indépendants qui voient dans cette offre ancrée dans son époque, des sources de revenus
                    supplémentaires et précieuses.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>